<!--
    In a views html file you will include the components that
    actually make up the view. This adds nice modularity to
    a project, making it easy to add and remove features.
 -->
<div class="container head-room">
    <div class="row center">
        <div class="col s12">
            <h1>View 3</h1>
            <h4>This is a third view with no components attached</h4>
            <p>You can easily customize a view by creating components and adding them to the views html file.</p>
        </div>
    </div>
</div>